@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins,sans-serif;
    
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a , #3a4452);
}
.calculator{
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 15px;
    background: transparent;
    box-shadow: 2px 2px 8px rgb(221, 217, 217);
}
input{
    width: 270px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgbs(84, 84, 84,0.1);
    font-size: 30px;
    color: white;
    text-align: end;
    cursor: pointer;
    font-weight: 700;


}
button{
    border: none;
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: white;
    font-size: 20px;
    box-shadow:-6px -6px 15px rgb(255,255,255,0.2) ;
    cursor: pointer;
}
.jk{
    color: rgb(9, 212, 243);
    font-weight: 600;
}
.ok{
    background-color: rgb(255, 166, 0);
}
header{
    display: flex;
    justify-content: space-between;
}
header span{
    color: white;
    margin-right: 5px;
}
